.page {
  display: flex;
  width: min(1180px, 100%);
  flex-direction: column;
  align-self: center;
}

.list {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1280px) {
  .page {
    width: 100%;
  }
}
